<div class="follow-template">

    <div class="follow-template-layer-two">

        <div class="profile">
            <div class="profile-photo">
                <div class="photo">

                </div>
            </div>
            <div class="profile-info">
                <div class="profile-name">
                    <span>
                        Name
                    </span>
                </div>
                <div class="profile-username">
                    <span>
                        @username
                    </span>
                </div>
            </div>
        </div>

        <div class="follow-button">
            <div>
                <span>
                    Follow
                </span>
            </div>
        </div>

    </div>

</div>
